#!/usr/bin/env xdg-open
# sudo gedit /usr/share/applications/mattermost.desktop

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/mattermost-desktop-5.6.0-linux-x64/mattermost-desktop
Name=Mattermost
Comment=Mattermost
Icon=/usr/bin/mattermost-desktop-5.6.0-linux-x64/app_icon.png
